<footer>
    <div class="f-container sticky-top">
        <div class="f-social">
            <a><i class="bi bi-facebook"></i></a>
            <a><i class="bi bi-instagram"></i></a>
            <a><i class="bi bi-twitter"></i></i></a>
        </div>
        <div class="f-company">
            wonderlust Private Limited
        </div>
        <div class="f-terms">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>