<footer>
    <hr><b>
    <div class="f-container">
        <div class="f-terms">
            &copy; 2024 Rudraraj Kudale
        </div>
        <div class="f-company">
            wonderlust Private Limited
        </div>
        <div class="f-social">
            <a><i class="bi bi-facebook"></i></a>
            <a><i class="bi bi-instagram"></i></a>
            <a><i class="bi bi-twitter"></i></i></a>
        </div>
    </div></b>
</footer> 