*
{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 80vh;
    width: 100%;
    background-color: #f8f9fa;
}

/*Navbar style*/
.navbar{
    background-color: white;
}
.container{
    flex: 1;
}
.bi-compass
{
    color: #fe424d;
    font-size: 2rem;
    margin-right: -0.5rem !important;
}
.nav-link
{
    color: black !important;
}
.nav-title {
    color: #01a34d !important;
    text-decoration: underline !important;
    font-weight: bold !important;
}

.nav-title:hover {
    color: #035529 !important;
}

.fa-magnifying-glass
{
  display: inline !important;
}
.search_btn
{
  background-color: #fe424d !important;
  border-radius: 2rem;
  padding: 0 0.7rem;
}
.log-btn{
    background-color: #fe424d !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem !important;
    margin-left: 1rem;
    color: white !important;
}
.sign-btn{
    background-color: #08c2ec !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem !important;
    margin-left: 1rem;
    color: white !important;
}
.search-inp
{
  border-radius: 2rem;
  padding: 0.5rem 3rem !important;
}


/* Admin Page */
.admin-dashboard{
    text-align: center;
    margin: 0;
    padding: 0;
}

.admin-h3{
    padding: 2rem !important;
}

.Total{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Total h3{
    border: 2px solid #fe424d;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-top: 0.5rem;
}

.Total h3 a{
    text-decoration: none;
    color: #000;
}
a span{ 
    display: block;
    color: #fe424d;
    padding: 1rem 0 0 0!important;
    font-weight: bolder;
}

.custom-table {
    border-color: #fe424d;
    color: #000;
}

.custom-table thead th {
    color: #fe424d;
    font-size: large;
    font-weight: bold;
    border: 1px solid #fe424d;
}

.custom-table tbody td {
    border: 1px solid #fe424d;
}

.custom-table tbody td form {
    color: #fe424d;
    border: 1px solid #fe424d;
}

.custom-table tbody tr:hover {
    background-color: #fbe7e9;
}

.delete-form{
    display: inline;
    border: none !important;
}

/* index page code*/
.margin-top
{
    margin-top: 3rem !important;
    margin-bottom: 3rem;
}

.index-cards {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    gap: 1.5rem;
}

.index-cards a{
    text-decoration: none;
}


.icard {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 24.5rem !important;
    height: 20rem !important;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card-img-top {
    width: 100%;
    height: 16rem;
    object-fit: cover;
    border-bottom: 2px solid #f0f0f0;
}

.icard-title {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-top: 3px;
    padding-left: 0.3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #fe424d;
}

.icard-text {
    font-size: 1rem;
    color: #666;
    margin-top: 5px;
    padding-left: 0.3rem;
}

#price
{
    font-size: medium;
    display: inline;
    color: #fe424d;
}
#GST
{
    color: #fe424d;
    display: none;
}

.decoration{
    text-decoration: none;
}
.contain-filter{
    display: flex;
    align-items: center;
    height: 5rem;
}
.filters{
    display: flex;
    align-items: center;
    overflow-x: auto; 
    white-space: nowrap; 
    width: 65vw;
    scroll-snap-type: x mandatory;
}
.filter{
    text-align: center;
    opacity: 0.7;
    margin-right: 2.5rem;
    margin-top: 2rem;
    font-size: 0.6 rem;
    display: inline-block;
    cursor: pointer;
    color: rgb(35, 33, 33);
    transition: all 0.3s ease;
}
.filter button{
    border: none;
    background-color: white;
}

.buttonClicked
{
    opacity: 1;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
    color: #000;
}

.filter p {
    font-size: 0.8rem;
}
#price-toggle{
    border: 2px solid #fe424d;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-self: start;
    margin-left: 3rem;
    margin-top: 0.5rem;
    color: #fe424d;
}

.admin-btn{
    position: absolute;
    right: 1.5rem;
}

.admin-btn a{
    text-decoration: none !important;
    color: #fe424d;
}
.filters::-webkit-scrollbar {
    height: 5px;
}

.filters::-webkit-scrollbar-thumb {
    background-color: #fe424d;
    border-radius: 6px;
}

.filters::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 6px;
}


/* show route */
.btn-primary
{
    background-color: #fe424d !important;
    border: 2px solid red !important;
}
.btn-danger
{
    background-color: rgb(0, 0, 0)!important;
    color: white !important;
    border: 2px solid red !important;
    margin-left: 1rem ;
}

.listing-container {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column !important;
    margin-top: 4rem;
}

.listing-img {
    border-radius: 8px;
    margin-bottom: 20px;
}

.listing-details {
    margin-top: 15px;
}

.btn-container {
    margin-top: 15px;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #000;
}

#comment{
    border: 1px solid #000;
}

.h3-style{
    color: #fe424d;
    text-decoration: underline;
}

/*footer style*/
.f-container
{
    position: relative;
    bottom: 0;
    text-decoration: none;
    display: flex;
    height: 6rem;
    width: 100vw;
    justify-content: center;
    height: 4rem;
    padding: 2rem;
}

.f-social, .f-company, .f-terms {
    color: #fe424d;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.f-social i {
    color: #fe424d;
    font-size: 1.2rem;
    margin-right: 1rem;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.f-terms {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.f-terms:hover, .f-social i:hover, .f-company:hover {
    font-size: 1rem;
    color: #000;
}

.min-vh-75 {
    min-height: 75vh;
}
.form-select
{
    margin-top: -0.5rem;
}
  
@media (max-width: 480px) {
    .min-vh-75 {
        min-height: 72vh !important;
    }
    body{
        overflow-x: hidden;
    }
    nav{
        text-align: center;
    }
    .sign-btn, .log-btn{
        margin-top: 0.5rem;
    }
    .card-img-top {
        width: 100%;
    }
    .filters{
        width: 25rem;
        padding-right: 0;
    }
    .filter{
        font-size: 0.9rem;
    }
    #price-toggle{
        position: relative;
        left: 1rem;
        display: inline-block;
        margin: 3rem;
        font-size: 0.8rem;
        width: 12rem !important;
        margin-left: 0;
        margin-right: 1rem;
        width: 5rem !important;
    }
    .admin-btn{
        font-size: 0.7rem !important;
        margin: 0 1rem 0 -3rem!important;
    }
    .listing-title {
        font-size: 1rem;
    }
    #price, #GST{
        font-size: 0.85rem;
    }
    .f-company{
        display: none;
    }
    .f-social, .f-terms {
        font-size: 1rem;
        text-align: center;
    }
    .listing-container {
        padding: 1rem;
    }
    .listing-img{
        width: 30rem !important;
        height: 15rem;
    }
    .col-8{
        width: 100% !important;
    }
    .col-4{
        width: 43% !important;
    }
    .offset-2{
        padding: 0rem !important;
        margin: 0 !important;
    }
    .login-page{
        margin: 0 !important;
        padding: 1rem !important;
    }
    .offset-3{
        width: 100% !important;
        margin: 0 !important;
    }
    .admin-dashboard {
        text-align: center;
        margin: 0;
        padding: 0.5rem;
    }

    .admin-h3 {
        padding: 1rem !important;
    }

    .Total {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Total h3 {
        margin: 0.5rem 0;
        padding: 1rem;
        font-size: 1rem;
        width: 80%;
    }

    .Total h3 a {
        font-size: 0.9rem;
    }

    a span {
        font-size: 0.9rem;
        padding: 0.5rem 0 0 0 !important;
    }

    .custom-table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .custom-table {
        width: 100%;
        font-size: 0.8rem;
        border-color: #fe424d;
        table-layout: auto;
    }

    .custom-table thead th {
        font-size: medium;
        padding: 0.5rem;
        min-width: 100px; /* Ensures the column width won't shrink below the text length */
    }

    .custom-table tbody td {
        font-size: 0.8rem;
        padding: 0.5rem;
        word-wrap: break-word;
        word-break: break-word;
        white-space: nowrap; /* Prevents wrapping but allows overflow with scroll */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .custom-table tbody tr:hover {
        background-color: #fbe7e9;
    }

    .delete-form {
        font-size: 0.8rem;
        margin: 0.5rem 0;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        text-align: center;
    }

    .sign-btn, .log-btn {
        margin-top: 0.5rem;
        font-size: 1rem;
    }

    .card-img-top {
        width: 100%;
        height: auto;
    }

    .filters {
        width: 30rem;
        padding-right: 1rem;
    }

    .filter {
        font-size: 1rem;
    }

    #price-toggle {
        position: relative;
        left: 1rem;
        display: inline-block;
        margin: 2rem;
        font-size: 1rem;
        width: 8rem !important;
        height: 4rem !important;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .admin-btn {
        font-size: 0.9rem !important;
        margin: 0 1rem;
    }

    .listing-title {
        font-size: 1.2rem;
    }

    #price, #GST {
        font-size: 1rem;
    }

    .f-company {
        display: none;
    }

    .f-social, .f-terms {
        font-size: 1.1rem;
        text-align: center;
    }

    .listing-container {
        padding: 1.5rem;
    }

    .listing-img {
        width: 25rem !important;
        height: 12rem;
    }

    .col-8 {
        width: 100% !important;
    }

    .col-4 {
        width: 50% !important;
    }

    .offset-2 {
        padding: 0rem !important;
        margin: 0 !important;
    }

    .login-page {
        margin: 0 !important;
        padding: 1.5rem !important;
    }

    .offset-3 {
        width: 100% !important;
        margin: 0 !important;
    }

    .admin-dashboard {
        text-align: center;
        margin: 0;
        padding: 1rem;
    }

    .admin-h3 {
        padding: 1rem !important;
        font-size: 1.2rem;
    }

    .Total {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Total h3 {
        margin: 0.5rem 0;
        padding: 1rem;
        font-size: 1.1rem;
        width: 80%;
    }

    .Total h3 a {
        font-size: 1rem;
    }

    a span {
        font-size: 1rem;
        padding: 0.5rem 0 0 0 !important;
    }

    .custom-table-wrapper {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .custom-table {
        width: 100%;
        font-size: 0.9rem;
        border-color: #fe424d;
        table-layout: auto;
    }

    .custom-table thead th {
        font-size: medium;
        padding: 0.7rem;
        min-width: 120px;
    }

    .custom-table tbody td {
        font-size: 0.9rem;
        padding: 0.7rem;
        word-wrap: break-word;
        word-break: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .custom-table tbody tr:hover {
        background-color: #fbe7e9;
    }
 
    .delete-form {
        font-size: 0.9rem;
        margin: 0.7rem 0;
    }
}
